### Target Vendor/Product (support only Ralink RT3883/MT7620/MT7621/MT7628)
CONFIG_VENDOR=Ralink
CONFIG_PRODUCT=MT7628

### Target ProductID (board select, max 12 symbols)
CONFIG_FIRMWARE_PRODUCT_ID="TL-WDR5620"

### Linux kernel and toolchain
CONFIG_FIRMWARE_INCLUDE_SFE=y

CONFIG_LINUXDIR=linux-3.4.x

############################################################
### Linux kernel configuration
############################################################

### 启用 MT7628 CPU 睡眠模式（空闲时降频至 100MHz） 
#CONFIG_FIRMWARE_CPU_SLEEP=y 



### WiFi AP 2.4GHz 内核驱动选择 
### 4.1 = MT7628NE v4.1.0.0 
CONFIG_FIRMWARE_WIFI2_DRIVER=4.1 

### 为 WiFi AP 5GHz 选择内核驱动程序 
### 3.0 = MT7612E v3.0.4.0 
CONFIG_FIRMWARE_WIFI5_DRIVER=3.0 

### 启用 IPv6 支持 
CONFIG_FIRMWARE_ENABLE_IPV6=y 



### 通过 Paragon "ufsd" 驱动程序启用 NTFS 文件系统支持。  ~0.4MB 
CONFIG_FIRMWARE_ENABLE_UFSD=n 

### 启用 FAT/FAT32 文件系统支持。  ~0.1MB 
CONFIG_FIRMWARE_ENABLE_FAT=n 

### 启用 exFAT（也是 FAT/FAT32）文件系统支持。  ~0.12MB 
CONFIG_FIRMWARE_ENABLE_EXFAT=n 

### 启用 EXT2 文件系统支持。  ~0.1MB 
CONFIG_FIRMWARE_ENABLE_EXT2=n 

### 启用 EXT3 文件系统支持。  ~0.2MB 
CONFIG_FIRMWARE_ENABLE_EXT3=n 

### 启用 EXT4（也是 EXT3/2）文件系统支持。  ~0.4MB 
CONFIG_FIRMWARE_ENABLE_EXT4=n 

### 启用 XFS 文件系统支持。  ~0.6MB 
CONFIG_FIRMWARE_ENABLE_XFS=n 

### 启用 FUSE（用户空间中的文件系统）支持。  ~0.1MB 
CONFIG_FIRMWARE_ENABLE_FUSE=n 

### 启用交换文件/分区支持。  ~0.05MB 
CONFIG_FIRMWARE_ENABLE_SWAP=n 

### 包括 UVC 相机模块。  ~0.2MB 
CONFIG_FIRMWARE_INCLUDE_UVC=n 

### 包括 USB-HID 模块。  ~0.2MB 
CONFIG_FIRMWARE_INCLUDE_HID=n 

### 包括 USB 串行模块（例如 pl2303）。  ~0.03MB 
CONFIG_FIRMWARE_INCLUDE_SERIAL=n 

### 包括 USB 音频模块 ~0.46MB 
CONFIG_FIRMWARE_INCLUDE_AUDIO=n 

###包括网络QoS调度模块。  ~0.2MB 
CONFIG_FIRMWARE_INCLUDE_QOS=n 

### 包括用于整形器的 IMQ 模块（性能有所下降）。  ~0.02MB 
CONFIG_FIRMWARE_INCLUDE_IMQ=n 

### 包括用于整形器的 IFB 模块。  ~0.03MB 
CONFIG_FIRMWARE_INCLUDE_IFB=n 

### 包括 IPSet 实用程序和内核模块。  ~0.4MB 
CONFIG_FIRMWARE_INCLUDE_IPSET=y 

### 包括 NFSv3 服务器。  ~0.6MB 
CONFIG_FIRMWARE_INCLUDE_NFSD=n 

### 包括 NFSv3 客户端。  ~0.5MB 
CONFIG_FIRMWARE_INCLUDE_NFSC=n 

### 包括 CIFS (SMB) 客户端。  ~0.2MB 
CONFIG_FIRMWARE_INCLUDE_CIFS=n 

############################################################ 
### 用户空间配置 
############################################################ 

### 包括 WebUI 国际资源。  增加固件大小 
CONFIG_FIRMWARE_INCLUDE_LANG_CN=y 
#CONFIG_FIRMWARE_INCLUDE_LANG_BR=y 
#CONFIG_FIRMWARE_INCLUDE_LANG_CZ=y 
# CONFIG_FIRMWARE_INCLUDE_LANG_DA = y 
#CONFIG_FIRMWARE_INCLUDE_LANG_DE=y 
# CONFIG_FIRMWARE_INCLUDE_LANG_ES = y 
# CONFIG_FIRMWARE_INCLUDE_LANG_FI = y 
#CONFIG_FIRMWARE_INCLUDE_LANG_FR=y 
#CONFIG_FIRMWARE_INCLUDE_LANG_NO=y 
#CONFIG_FIRMWARE_INCLUDE_LANG_PL=y 
#CONFIG_FIRMWARE_INCLUDE_LANG_RU=y 
#CONFIG_FIRMWARE_INCLUDE_LANG_SV=y 
#CONFIG_FIRMWARE_INCLUDE_LANG_UK=y 

### 包括 NTFS-3G FUSE 驱动程序（而不是 Paragon “ufsd”）。  ~0.4MB 
CONFIG_FIRMWARE_INCLUDE_NTFS_3G=n 

### 包括 LPR 打印机守护程序。  ~0.12MB 
CONFIG_FIRMWARE_INCLUDE_LPRD=n 

### 包括 USB-over-Ethernet 打印机守护程序。  ~0.05MB 
CONFIG_FIRMWARE_INCLUDE_U2EC=n 

### 包括“tcpdump”实用程序。  ~0.6MB 
CONFIG_FIRMWARE_INCLUDE_TCPUMP=y 

### 包括“hdparm”实用程序（允许设置 HDD 降速超时和 APM）。  ~0.1MB 
CONFIG_FIRMWARE_INCLUDE_HDPARM=n 

### 包括“parted”实用程序（允许制作 GPT 分区）。  ~0.3MB 
CONFIG_FIRMWARE_INCLUDE_PARTED=n 

### 包括 SMB（和 WINS）服务器。  ~1.5MB 
CONFIG_FIRMWARE_INCLUDE_SMBD=n 

### 使用 samba3.6 而不是 samba3 
CONFIG_FIRMWARE_INCLUDE_SMBD36=y 

### 仅包括 WINS 服务器。  ~0.4MB 
CONFIG_FIRMWARE_INCLUDE_WINS=n 

### 包括 SMB 和 WINS 服务器的系统日志。  ~0.3MB 
CONFIG_FIRMWARE_INCLUDE_SMBD_SYSLOG=n 

### 包括 FTP 服务器。  ~0.2MB 
CONFIG_FIRMWARE_INCLUDE_FTPD=n 

### 包括替代 L2TP 控制客户端 RP-L2TP。  ~0.1MB 
CONFIG_FIRMWARE_INCLUDE_RPL2TP=n 

### 包括 EAP-TTLS 和 EAP-PEAP 身份验证支持。  openssl ~1.2MB，wpa_supplicant +0.04MB 
CONFIG_FIRMWARE_INCLUDE_EAP_PEAP=y 

### 包括 HTTPS 支持。  openssl ~1.2MB 
CONFIG_FIRMWARE_INCLUDE_HTTPS=n 

### 包括 sftp 服务器。  openssl ~1.2MB, sftp-server ~0.06MB 
CONFIG_FIRMWARE_INCLUDE_SFTP=y 

### 包括 dropbear SSH。  ~0.3MB 
CONFIG_FIRMWARE_INCLUDE_DROPBEAR=n 

### 使 dropbear 对称密码和哈希更快。  ~0.06MB 
CONFIG_FIRMWARE_INCLUDE_DROPBEAR_FAST_CODE=n 

### 包括 OpenSSH 而不是 dropbear。  openssl ~1.2MB, openssh ~1.0MB 
CONFIG_FIRMWARE_INCLUDE_OPENSSH=y 

### 包括 OpenVPN。  需要 IPv6。  openssl ~1.2MB，openvpn ~0.4MB 
CONFIG_FIRMWARE_INCLUDE_OPENVPN=y 

### 将椭圆曲线 (EC) 包含到 openssl 库中。  ~0.1MB 
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EC=y

### 包括用于生成证书的“openssl”可执行文件。  ~0.4MB 
CONFIG_FIRMWARE_INCLUDE_OPENSSL_EXE=y 

### 包括 xUPNPd IPTV 媒体服务器。  ~0.3MB 
CONFIG_FIRMWARE_INCLUDE_XUPNPD=y 

### 包括 Minidlna UPnP 媒体服务器。  ~1.6MB 
CONFIG_FIRMWARE_INCLUDE_MINIDLNA=n 

### 包括 Firefly iTunes 媒体服务器。  ~1.0MB 
CONFIG_FIRMWARE_INCLUDE_FIREFLY=n 

### 包括 ffmpeg 0.11.x 而不是 Minidlna 和 Firefly 的 0.6.x。  ~0.1MB 
CONFIG_FIRMWARE_INCLUDE_FFMPEG_NEW=y 

### 包括传输种子。  openssl ~1.2MB，传输 ~1.5MB 
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION=n 

### 包括传输 Web 控制（高级 WebUI）。  ~0.8MB 
CONFIG_FIRMWARE_INCLUDE_TRANSMISSION_WEB_CONTROL=n 

### 包括 Aria2 下载管理器。  openssl ~1.2MB, aria2 ~3.5MB 
CONFIG_FIRMWARE_INCLUDE_ARIA=n 

### 包括 Aria2 WEB 控件。  ~0.7MB 
CONFIG_FIRMWARE_INCLUDE_ARIA_WEB_CONTROL=n 



CONFIG_FIRMWARE_INCLUDE_CURL=y

CONFIG_FIRMWARE_INCLUDE_SCUTCLIENT=n

CONFIG_FIRMWARE_INCLUDE_GDUT_DRCOM=n

CONFIG_FIRMWARE_INCLUDE_DOGCOM=y

CONFIG_FIRMWARE_INCLUDE_MINIEAP=y

CONFIG_FIRMWARE_INCLUDE_NJIT_CLIENT=y

CONFIG_FIRMWARE_INCLUDE_NAPT66=y

CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_SERVER=n

CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CLIENT=n

CONFIG_FIRMWARE_INCLUDE_SOFTETHERVPN_CMD=n

CONFIG_FIRMWARE_INCLUDE_VLMCSD=y

CONFIG_FIRMWARE_INCLUDE_TTYD=y

CONFIG_FIRMWARE_INCLUDE_LRZSZ=y

CONFIG_FIRMWARE_INCLUDE_HTOP=y

CONFIG_FIRMWARE_INCLUDE_NANO=y

CONFIG_FIRMWARE_INCLUDE_IPERF3=y

CONFIG_FIRMWARE_INCLUDE_DUMP1090=n

CONFIG_FIRMWARE_INCLUDE_RTL_SDR=n

CONFIG_FIRMWARE_INCLUDE_MTR=y

CONFIG_FIRMWARE_INCLUDE_SOCAT=y

CONFIG_FIRMWARE_INCLUDE_SRELAY=y

CONFIG_FIRMWARE_INCLUDE_MENTOHUST=n

CONFIG_FIRMWARE_INCLUDE_FRPC=n

CONFIG_FIRMWARE_INCLUDE_FRPS=n

CONFIG_FIRMWARE_INCLUDE_TUNSAFE=n

CONFIG_FIRMWARE_INCLUDE_WIREGUARD=n
